<main>
    <section class="banner-container">
        <img src="/images/banner-background.png" alt="Background" class="banner-background">
        <div class="banner-content">
            <h2 class="banner-content__heading">Welcome!</h2>
            <p class="banner-content__body">This site sells tea from the moon!</p>
            <button class="button banner-content__button">Shop Tea</button>
        </div>
    </section>
    <div class="featured-product">
        {{#each teaData as |tea|}}
        <div class="row mb-4 project">
            <div class="col-md-5">
                <h2>
                    <!-- Call helper function with triple brackets to render the emoji span as HTML -->
                    {{{tea.id}}}
                    {{tea.name}}
                    {{tea.category}}
                    {{tea.price}}
                    {{tea.sold}}
                    {{tea.description}}
                </h2>
                
              <img src={{tea.image}} />

            </div>
        
        </div>
        {{/each}}
    </div>
    <div class="featured-blog-post">

    </div>
</main>