{{!-- {{> header }} --}}

<main class="product-page">
    <section class="container">
        <div class="product-details">
            <div class="product-image">
                <!-- Product image -->
                <img src="{{product.imageUrl}}" alt="{{product.name}}" style="height: 66vh;">
            </div>
            <div class="product-description">
                <p class="origin">{{product.origin}}</p>
                <h2 class="name">{{product.name}}</h2>
                <p class="rating">{{product.rating}}</p>
                <p class="price">{{product.price}}</p>
                <!-- Quantity button, Add to cart button, and product descriptions -->
            </div>
        </div>

        <div class="customer-reviews">
            <h2>Verified Customer Reviews</h2>
            <button>Write a review</button>
            <!-- Customer reviews -->
        </div>
    </section>

    {{> recommended }}

</main>

{{!-- {{> footer }} --}}

